/* Custom Branding */

:root {
    --ct-color-host-accent: #0f62fe !important;
}

body.login-pf {
    background: url("bg-plain.jpg") no-repeat 50% 0;
    background-size: cover;
    background-color: #262626;
}

#badge {
    width: 225px;
    height: 80px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 50%;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
    margin-bottom: 48px !important;
}

#brand:before {
    content: "My Custom Theme";
}

#index-brand {
    font-weight: bold;
}

#index-brand:before {
    content: "My Custom Theme";
}

.login-pf .container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    min-width: 480px;
    background: #393939;
    color: #f4f4f4;
    padding: 64px 32px 32px;
}

.login-pf .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    color: #c6c6c6;
    background-color: #393939;
}

.login-pf input[type="text"],
.login-pf input[type="password"] {
    height: 40px;
    padding: 0 16px;
    line-height: 18px;
    font-size: 14px;
    color: #f4f4f4;
    border: 0;
    border-bottom: solid 1px #8D8D8D;
    background-color: #525252;
    border-radius: 0;
}

.login-pf input[type="text"]:active,
.login-pf input[type="text"]:focus,
.login-pf input[type="password"]:active,
.login-pf input[type="password"]:focus {
    outline: 2px solid #ffffff;
    outline-offset: -2px;
    padding-bottom: inherit;
    border-bottom-width: inherit;
    border: inherit;
}

.login-pf input[type="text"]:hover,
.login-pf input[type="password"]:hover {
    border-color: #8D8D8D;
}

#login-password-toggle {
    background-color: #525252;
    color: #c6c6c6;
    border: 0;
    border-bottom: solid 1px #8D8D8D;
}

#option-group:not([data-state="true"]) {
    margin-bottom: 40px !important;
}

#server-group {
    margin-bottom: 40px !important;
}

#show-other-login-options,
#option-caret polygon {
    color: #c6c6c6;
    fill: #c6c6c6;
}

#show-other-login-options:hover,
#option-caret:hover polygon{
    color: #f4f4f4;
    fill: #f4f4f4;
}

.login-button {
    border-radius: 0;
    height: 48px;
    padding: 11px 63px 11px 15px;
    background-color: #0f62fe !important;
}

.login-button:hover {
    background-color: #0353e9 !important;
}

.login-button:active {
    background-color: #002d9c !important;
}

.login-button:focus {
    box-shadow: inset 0 0 0 2px #fff;
}

#login-button-text {
    width: 100%;
    text-align: left;
}

#error-group {
    height: 48px;
    border-top: 0;
    border-left: 3px solid #da1e28;
    background-color: #f4f4f4;
}

#error-group svg {
    margin: 15px 16px 0;
    color: #da1e28;
}

#login-error-message {
    height: 48px;
    line-height: 48px;
    margin: 0;
    color: #161616;
}
